table.table1{
    margin: 0 auto;
    border: 5px solid rgb(181, 12, 144);
    height: 200px;
    width: 40%;
}
table.table1 td{
    border: 1px solid rgb(181, 12, 144);
}
td.col11{
    width: 150px;
}
tr.row11{
    text-align: center;
}
tr.row12{
    height: 150px;
    text-align: right;
    vertical-align: top;
}

table.table2{
    border: 1px solid rgb(12, 181, 49);
    width: 40%;    
    border-spacing: 20px;
}
table.table2 td{
    border: 1px solid rgb(12, 181, 49);
}

table.table3{
    border: 2px solid rgb(255, 72, 0);
    width: 80%;    
    border-spacing: 30px;
}
table.table3 td{
    border: 2px solid rgb(255, 72, 0);
}
#blue3{
    border: 2px solid rgb(16, 186, 208);
}
#green3{
    border: 2px solid rgb(70, 184, 146);
}

table.table4{
    border: 2px solid rgb(21, 192, 215);
    border-collapse: collapse;
    width: 40%;    
}
table.table4 td{
    padding: 10px;
    border: 1px solid  rgb(21, 192, 215);
}
td.row41{
    text-align: center;
}
td.blue4{
    color: rgb(16, 186, 208);
}
td.pink4{
    color:  rgb(220, 71, 156);
}

table.table5 {
    width: 40%;
}
table.table5 td{
    border-bottom: 2px solid magenta;
}
#td51{
    border-left: 2px solid magenta;
}
#td53{
    border-right: 2px solid magenta;
}
.highlight {
    background-color: rgb(42, 185, 42);
    text-align: center;
}

table.table7{
    margin: 0 auto;
    border: 3px solid rgb(17, 0, 255);
    border-collapse: collapse;
    width: 40%;    
}
table.table7 td{
    border: 3px solid  rgb(17, 0, 255);
}
td.blue7{
    background-color: rgba(33, 145, 219, 0.527);
}
td.orange7{
    background-color: rgba(161, 47, 111, 0.527);
}
td.pink7{
    color:  rgb(220, 71, 156);
    background-color: rgb(220, 71, 156);
}

table.table8{
    margin: 0 auto;
    border: 1px solid rgb(0, 221, 255);
    width: 20%;    
}
tr.tr8{
    text-align: center;
}
table.table8 td{
    border: 1px solid rgb(0, 221, 255);
}

table.table81 td{
    border: 2px solid rgb(255, 0, 234);
}
table.table82 td{
    border: 2px solid rgb(163, 2, 163);
}